# Python
__pycache__/
*.py[cod]
*.class
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
debug_screenshots/
cs2_translator_config.json
*.log
*.tmp
